@using ManageNotes.Data
@using ManageNotes.Utils
@model ManageNotes.ViewModel.ChangePassModel

@{
    ViewData["Title"] = "Change PassWord";
    Layout = "_LayoutNotes";
    if (!User.IsInRole(((int)TypeAccountEnum.Member).ToString()))
    {
        Layout = "_LayoutAdmins";
    }
}

<div>
    <form method="post" id="mychange">
        @{
            if (Model is not null && Model.State == 1)
            {
                <span asp-validation-for="State" class="alert alert-success"></span>
                <br>
                <br>
            }
            else if (Model is not null && Model.State == 2)
            {
                <span asp-validation-for="State" class="alert alert-danger"></span>
                <br>
                <br>
            }

            if (User.GetRole() == (int)TypeAccountEnum.Member)
            {
                <div class="form-group">
                    <label class="label-control col-md-3">رمز عبور فعلی</label>
                    <div>
                        <input type="password" class="form-control col-md-3" asp-for="Password" minlength="8" required>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Password">
            }
        }
        
        <div class="form-group">
            <label class="label-control col-md-3">رمز عبور جدید</label>
            <div>
                <input type="password" class="form-control  col-md-3" asp-for="NewPass" name="NewPass" minlength="8" required>
                <span class="text-danger" asp-validation-for="NewPass"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="label-control col-md-3">تکرار رمز عبور جدید</label>
            <div>
                <input type="password" class="form-control  col-md-3" asp-for="RepeatNewPass" name="RepeatNewPass" minlength="8" required>
                <span class="text-danger" asp-validation-for="RepeatNewPass"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">تغییر رمز عبور</button>
    </form>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/messages_fa.min.js"></script>
    <script>
      $("#mychange").validate();
      </script>
}
