@model ManageNotes.Data.Note

<div>
      <table class="table table-bordered">
            <thead>
            <tr style="background-color: #f1f1f1">
                  <th>@Model.Title</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                  <td>@Model.MainNote</td>
            </tr>
            </tbody>

      </table>
</div>
