@model ManageNotes.ViewModel.CreditModel


<div class="row">
    <div class="col-md-3">
        <label>موجودی حساب کاربری</label>
    </div>
    <div class="col-md-3 shadow">
        <span>@Model.Amount.ToString("N0")ریال</span>
    </div>
</div>



